extends layout_category

block content
    div(ng-Controller="CategoriesCtrl", style="margin: 20px")
        .container-fluid
        .row-fluid
            .span2
              a.btn.btn-primary(data-toggle="modal", href='/categories/new') Add Category
              br
              | Search:
              input(ng-model='query')
              | Sort by:
              select(ng-model="displayFilter")
                option(value="") Choose filter
                option(value="name") Alphabetical
            .span10
              ul.categories
                li.thumbnail(ng-repeat='item in items | filter:query | orderBy:displayFilter')
                  a.thumb(href='/categories/{{item.name}}')
                    img(ng-src='/api/image/{{getImageContent(item)}}')
                  a.actions(ng-click='deleteCategory(item)')
                    i.icon-remove
                  a.actions(href='/categories/edit/{{item.name}}')
                    i.icon-edit
                  a(href='/categories/{{item.id}}') {{item.name}}
                  p {{item.description}}
                  p
                    b(ng-show='hideOrShow(item)') Sub-category of
                    | {{getParent(item)}}