extends layout_category

block content
    div(ng-Controller="CategoriesEditCtrl")
        form#category_form.well.span8(method='post', action="/api/categories", ng-model='categoryForm', enctype='multipart/form-data')
            input(type='hidden', name='_method', value="put")
            .row
                .span3
                    input#cat_id(type='hidden', name='cat_id', value='#{cat_id}')
                    input#cat_name(type='hidden', name='cat_name', value='#{cat_name}')
                    label
                        h5 Category Name
                    input#name.span3(type='text', name='name', placeholder='Category Name', ng-model='categoryForm.name')
                    label
                        h6 Display Image
                    input#display_image(type='file', name='display_image', ng-model='categoryForm.display_image', ng-model-instant='ng-model-instant', multiple='multiple')
                    label
                        h6 Android Image
                    input#android_image(type='file', name='android_image', ng-model='categoryForm.android_image', ng-model-instant='ng-model-instant', multiple='multiple')
                    label(ng-show='!subcat')
                        h6 App Display order
                    select#displayOrder.span3(name='displayOrder', ng-model='categoryForm.displayOrder')
                        option(value='0', selected='selected') Choose One:
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                        option(value='9') 9
                        option(value='10') 10
                    label.checkbox
                        input#subcat(type='checkbox', name='subcat', ng-model='subcat')
                        h6 Select to make this category as sub category
                    label(ng-show='subcat')
                        h6 Sub-category of
                        select#parentid.span3(name='parentid', ng-model='categoryForm.parentid')
                            option(value='', selected='selected') Choose One:
                            option(ng-repeat='item in items', value='{{item.id}}') {{item.name}}
                .span5
                    label
                    h5 Description
                    textarea#description.input-xlarge.span5(name='description', rows='10', ng-model='categoryForm.description')
                button.btn.btn-primary.pull-right(type='submit', ng-click="addCategory()")
                    | Update
                    | Category
