extends layout_category

block content
    div(ng-Controller="CategoriesAddCtrl")
        form#category_form.well.span8(method='post', action="/api/categories", ng-model='categoryForm', enctype='multipart/form-data')
            .row
                .span3
                    label
                        h5 Category Name
                    input#name.span3(type='text', name='name', placeholder='Category Name', ng-model='categoryForm.name', required)
                    span.error(ng-show="categoryForm.name.$error.required")required
                    label
                        h6 Display Image
                    input#display_image(type='file', name='display_image', ng-model='categoryForm.display_image', ng-model-instant='ng-model-instant', multiple='multiple')
                    label
                        h6 Android Image
                    input#android_image(type='file', name='android_image', ng-model='categoryForm.android_image', ng-model-instant='ng-model-instant', multiple='multiple')
                    label(ng-show='!subcat')
                        h6 App display order
                    input#displayOrder.span3(type='number', name='displayOrder', placeholder='1', min='1', max=20, ng-model='categoryForm.displayOrder', required)
                    span.error(ng-show="categoryForm.displayOrder.$error.required")required
                    label.checkbox
                        input#subcat(type='checkbox', name='subcat', ng-model='subcat')
                        h6 Select to make this category as sub category
                    label(ng-show='subcat')
                        h6 Sub-category of
                        select#parentId.span3(name='parentId', ng-model='categoryForm.parentId')
                            option(value='', selected='selected') Choose One:
                            option(ng-repeat='item in items', value='{{item._id}}') {{item.name}}
                .span5
                    label
                    h5 Description
                    textarea#desc_c.input-xlarge.span5(name='description', rows='10', ng-model='categoryForm.description', required)
                    span.error(ng-show="categoryForm.description.$error.required")required
                button.btn.btn-primary.pull-right(type='submit')
                    | Add
                    | Category
