extends layout_fooditems

block content
    div(ng-Controller="FoodItemsAddCtrl")
        form#category_form.well.span8(method='post', action="/api/food_items", ng-model='foodItemsForm', enctype='multipart/form-data')
            .row
                .span3
                    label
                        h5 Food Item Name
                    input#name.span3(type='text', name='name', placeholder='Food Item Name', ng-model='foodItemsForm.name', required)
                    span.error(ng-show="foodItemsForm.name.$error.required")required
                    label
                        h6 Display Image
                    input#display_image(type='file', name='display_image', ng-model='foodItemsForm.display_image', ng-model-instant='ng-model-instant', multiple='multiple')
                    label.checkbox
                        input#availability(type='checkbox', name='availability', ng-model='availability')
                        h6 Select/Unselecct to enable/disable availability of food item
                    label
                        h6 Price
                    input#price.span3(type='number', name='price', placeholder='1', min='1', value='1', ng-model='foodItemsForm.price', required)
                    span.error(ng-show="foodItemsForm.price.$error.required")required
                    h6 Select category
                    select#categoryId.span3(name='categoryId', ng-model='categories._id', required)
                            option(value='', selected='selected') Choose One:
                            option(ng-repeat='item in categories', value='{{item._id}}') {{item.name}}
                    span.error(ng-show="foodItemsForm.categoryId.$error.required")required
                .span5
                    label
                        h6 Android Image-1
                    input#android_image1(type='file', name='android_image1', ng-model='foodItemsForm.android_image1', ng-model-instant='ng-model-instant', multiple='multiple')
                    label
                        h6 Android Image-2
                    input#android_image2(type='file', name='android_image2', ng-model='foodItemsForm.android_image2', ng-model-instant='ng-model-instant', multiple='multiple')
                    label
                        h6 Android Image-3
                    input#android_image3(type='file', name='android_image3', ng-model='foodItemsForm.android_image3', ng-model-instant='ng-model-instant', multiple='multiple')
                    label
                        h6 Android Image-4
                    input#android_image4(type='file', name='android_image4', ng-model='foodItemsForm.android_image4', ng-model-instant='ng-model-instant', multiple='multiple')
                    label
                    h5 Description
                    textarea#description.input-xlarge.span5(name='description', rows='10', ng-model='foodItemsForm.description', required)
                    span.error(ng-show="foodItemsForm.description.$error.required")required
                button.btn.btn-primary.pull-right(type='submit', ng-click="addFoodItem()")
                    | Add
                    | Food Item
