extends layout_fooditems

block content
    div(ng-Controller="FoodItemsEditCtrl")
        form#foodItemsForm.well.span8(method='post', action="/api/food_items", ng-model='foodItemsForm', enctype='multipart/form-data')
            input(type='hidden', name='_method', value="put")
            .row
                .span3
                    input#food_id(type='hidden', name='food_id', value='#{food_id}')
                    input#food_name(type='hidden', name='food_name', value='#{food_name}')
                    input#food_name(type='hidden', id="cat_id", name='cat_id', value='#{cat_id}')
                    label
                        h5 Food Item Name
                    input#name.span3(type='text', name='name', placeholder='Food Item Name', value='{{foodItemsForm.name}}', ng-model='foodItemsForm.name')
                    label
                        h6 Display Image
                    input#displayImage(type='file', name='display_image', ng-model='foodItemsForm.displayImage', ng-model-instant='ng-model-instant', multiple='multiple')
                    label.checkbox
                        input#availability(type='checkbox', name='availability', ng-model='foodItemsForm.availability')
                        h6 Select/Unselecct to enable/disable availability of food item
                    label
                        h6 Price
                    input#price.span3(type='number', name='price', placeholder='1', min='1', ng-model='foodItemsForm.price', required)
                    span.error(ng-show="foodItemsForm.price.$error.required")required
                    h6 Select category
                    select#categoryId.span3(name='categoryId', ng-model="currentCategory", ng-options="c.name for c in categories", required)
                        option(value="") Choose Category
                    span.error(ng-show="foodItemsForm.categoryId.$error.required")required
                .span5
                    label
                    h5 Description
                    textarea#description.input-xlarge.span5(name='description', rows='10', ng-model='foodItemsForm.description')
                button.btn.btn-primary.pull-right(type='submit', ng-click="updateFoodItem()")
                    | Update
                    | Food Item


