extends layout_fooditems

block content
    div(ng-Controller="FoodItemsCtrl", style="margin: 20px")
        .container-fluid
            .row-fluid
                .span2
                    a.btn.btn-primary(href='/food_items/new') Add Food Item
                    br
                    | Search:
                    input(ng-model='query')
                    | Sort by:
                    select(ng-model="displayFilter")
                        option(value="") Choose filter
                        option(value="name") Alphabetical
                .span10
                    ul.categories
                        li.thumbnail(ng-repeat='item in foodItems | filter:query | orderBy:displayFilter')
                            a.thumb(href='/food_items/{{item.name}}')
                                img(ng-src='/api/image/{{getImageContent(item)}}')
                            a.actions(ng-click='deleteFoodItem(item)')
                                i.icon-remove
                            //input#availability(type='checkbox', name='availability', ng-model='{{item.availability}}', ng-click="toggleAvailability(item)")
                            a.actions(href='/food_items/edit/{{item.name}}')
                                i.icon-edit
                            .itemContent
                                a(href='/food_items/{{item.id}}') {{item.name}}
                                p {{item.description}}
                                p
                                    b Price:
                                     {{item.price}}
                                     img(src="/images/RupeeImage.png", style="width: 20px; height: 20px;")
                                p
                                    b Belongs to category
                                    {{getCategory(item)}}