extends layout

block content
  #this-carousel-id.carousel.slide
    .carousel-inner
        .item.active
          center
            a(href='/images/fooditem1.jpg')
              img(src='/images/fooditem1.jpg', alt='Pakva')
        .item
          center
            a(href='/images/fooditem2.jpg')
              img(src='/images/fooditem2.jpg', alt='Pakva')
        .item
          center
            a(href='/images/fooditem3.jpg')
              img(src='/images/fooditem3.jpg', alt='Pakva')
        .item
          center
            a(href='/images/fooditem4.jpg')
              img(src='/images/fooditem4.jpg', alt='Pakva')
      a.carousel-control.left(href='#this-carousel-id', data-slide='prev') ‹
      a.carousel-control.right(href='#this-carousel-id', data-slide='next') ›
