doctype
html(ng-app='LoungeApp')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='/resources/css/bootstrap.css')
        link(href='/resources/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
        script(src='/resources/js/jquery-1.9.1.min.js', type='text/javascript')
        script(src="/resources/js/bootstrap.min.js", type='text/javascript')
        script
          $(document).ready(function(){
            $('.carousel').carousel({
              interval: 4000
            });
          });
  body
    .navbar
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/home', name='top') Pakva eMenu
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/home') Home
              li.divider-vertical
              li
                a(href='/categories') Categories
              li.divider-vertical
              li(ng-class='link_actives.food_items')
                a(href='/food_items') Food Items
              li.divider-vertical
              li(ng-class='link_actives.tables')
                a(href='/tables') Tables
              li.divider-vertical
              li(ng-class='link_actives.orders')
                a(href='/orders') Orders
              li.divider-vertical
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Sign In
                  strong.caret
                .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                  form(method='post', action='login', accept-charset='UTF-8')
                    input#username(style='margin-bottom: 15px;', type='text', placeholder='Username', name='username')
                    input#password(style='margin-bottom: 15px;', type='password', placeholder='Password', name='password')
                    input#remember-me(style='float: left; margin-right: 10px;', type='checkbox', name='remember-me', value='1')
                    label.string.optional(for='user_remember_me')  Remember me
                    input#sign-in.btn.btn-primary.btn-block(type='submit', value='Sign In')
    .container
      block content
    hr
      footer

