

.categories {
  list-style: none;
}

.thumb {
  float: left;

  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.itemContent {
  float: left;
  border: 2px;
  margin: -1em 1em 1.5em 0em;
  border-color: black;
}


.actions {
  float: right;
  vertical-align: top;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
}

.categories li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.category {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.category-thumbs {
  margin: 0;
  list-style: none;
}

ul.category-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.category-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.category-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}